<ion-header>
  <ion-navbar>
    <ion-title>Add Friends.</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="getContacts()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar
    animated="true"
    autocomplete="on"
    debounce="100"
    [(ngModel)]="data.search"
    showCancelButton="false"
    placeholder="Search"
    (ionInput)="Search($event)"
    (ionCancel)="onCancel($event)"
  >
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-list id="inviteContainer">
    <ion-item
      *ngFor="let contact of filterContacts"
      (click)="openContact(contact)"
    >
      <div ion-text text-wrap color="dark">{{ contact.name }}</div>
      <div ion-text color="dark">{{ contact.phone }}</div>

      <ion-avatar item-left>
        <img [src]="contact.img" />
      </ion-avatar>

      <button
        block
        class="invite-uninvite-btn"
        ion-button
        item-right
        color="secondary"
        *ngIf="!contact.exists"
      >
        Invite
      </button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <button
    ion-button
    round
    block
    color="purple"
    class="submit-btn"
    (click)="submit()"
  >
    Submit
  </button>
</ion-footer>
