page-invite-friends {
  .custom-grid-wrapper {
    padding-top: 3rem !important;
  }
  .invite-friends-txt {
    color: white;
    font-size: 2rem;
  }
  .custom-row-wrapper {
    margin-left: 1.3rem;
  }
  .line-2 {
    margin-top: 0.6rem;
    font-size: 1.3rem;
    line-height: 1.5;
    padding-right: 1rem;
    margin-bottom: 1rem;
  }
  .searchbar {
    padding-left: 0;
    background: none;
    width: 95%;
    margin: auto;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    .searchbar-input {
      color: white;
      height: 4rem;
      background-color: #7b2fff;
      border-radius: 16px;
    }
    .searchbar-search-icon {
      top: 14px;
    }
    .searchbar-search-icon {
      background-image: url("../assets/imgs/search.svg");
    }
    ::placeholder {
      color: #ffffff !important;
    }
  }
  .invite-btn {
    height: 2em;
  }

  .invite-uninvite-btn {
    width: 22%;
    border-radius: 3rem;
  }

  .searchbar .searchbar-search-icon {
    top: 9px;
    left: 10px;
  }

  .submit-btn {
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
    // margin-bottom: 1rem;
  }

  ion-footer {
    background: white;
    padding: 1rem;
  }
}
