<ion-header>
  <ion-navbar>
    <ion-title>Invite friends</ion-title>
    <ion-buttons end>
      <button ion-button (click)="skip()" *ngIf="!isHaveCloseBtn">
        skip
      </button>

      <button ion-button icon-only *ngIf="isHaveCloseBtn" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-row>
    <ion-col>
      <ion-searchbar
        animated="true"
        autocomplete="on"
        debounce="100"
        [(ngModel)]="data.search"
        showCancelButton="false"
        placeholder="Search"
        (ionInput)="Search($event)"
        (ionCancel)="onCancel($event)"
      >
      </ion-searchbar>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <loading *ngIf="isLoading"></loading>
  <ion-grid class="friends-wraaper" no-padding *ngIf="!isLoading">
    <ion-row class="friends-wrapper-row" *ngFor="let contact of filterContacts">
      <ion-col no-padding col-2>
        <img [src]="contact.img" class="friend-img" />
      </ion-col>
      <ion-col no-padding col-7 align-self-center>
        <div class="bold">{{ contact.name }}</div>
      </ion-col>
      <ion-col no-padding col-3 align-self-center>
        <button
          ion-button
          color="primary"
          round
          block
          [disabled]="contact.isActive"
          (click)="inviteFriend(contact)"
          class="accept-btn"
          *ngIf="!contact.isAdded"
        >
          Invite
        </button>
        <button
          ion-button
          color="secondary"
          round
          block
          class="accept-btn"
          *ngIf="contact.isAdded"
        >
          Add
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
