<ion-header>
  <ion-navbar>
    <ion-title class="custom-title">Edit Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col col-12>
      <img src="assets/imgs/1.jpg" class="avatar-img" />
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-item>
      <ion-label fixed>Full name</ion-label>
      <ion-input type="text" text-right [(ngModel)]="userData.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Email address</ion-label>
      <ion-input
        type="text"
        text-right
        [(ngModel)]="userData.email"
      ></ion-input>
    </ion-item>

    <button ion-item (click)="changePassword()">
      Change Password
    </button>

    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select [(ngModel)]="data.gender" [(ngModel)]="userData.gender">
        <ion-option value="female">Female</ion-option>
        <ion-option value="male">Male</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label fixed>Phone Number</ion-label>
      <ion-input
        type="text"
        text-right
        [(ngModel)]="userData.mobile"
      ></ion-input>
    </ion-item>

    <button
      ion-button
      color="primary"
      round
      block
      class="save-btn"
      (click)="updateUser()"
    >
      <span *ngIf="!isWaiting">Save</span>
      <ion-spinner
        name="ios-small"
        *ngIf="isWaiting"
        color="light"
      ></ion-spinner>
    </button>
  </ion-list>
</ion-content>
