page-activity-details {
  .scroll-content {
    background: #f1eff0 !important;
    padding: 0;
  }

  .event-details-grid {
    background: white;
    margin-bottom: 1rem;
    padding: 1rem;
    .custom-row {
      border-bottom: 1px solid #e4e4e4;
      padding: 0.4rem;
      // line-height: 0.5;
    }
    .user-img {
      width: 1.9rem;
    }
    .desc-txt {
      text-align: justify;
    }
    .custom-chat-btn {
      float: left !important;
    }
    .custom-task-btn {
      margin-right: 0;
      float: right;
    }
  }
  /////////////////////////////////////////////////
  .invited-by {
    font-size: 13px;
  }
  .location-txt {
    font-size: 14px;
  }
  ion-icon[class*="custom-Location"] {
    color: #f9695a;
  }

  .hr {
    height: 1.15px;
    width: 86%;
    margin: auto;
  }
  ion-icon[class*="custom-chat"],
  ion-icon[class*="custom-tasks"] {
    margin-right: 1rem;
    color: #00f4ff !important;
  }
  .button-outline {
    border-width: 2px;
  }

  .synk-txt {
    margin-left: 1rem;
  }
  .small-avatar-img {
    border-radius: 100%;
  }
  .avatar-img {
    border-radius: 100%;
    width: 64px;
    height: 64px;
  }
  .avatar-name {
    font-size: 13px;
  }
  .unsynk {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: red;
    font-size: 16px;
  }
  ion-avatar {
    margin: 8px 9px 8px 0 !important;
  }

  .details-list {
    margin: -1px 0 8px !important;
  }
  .custom-btn {
    width: 93%;
  }
}
