<ion-header>
  <ion-navbar color="danger">
    <ion-title>
      <div>Coffee</div>
    </ion-title>
    <ion-buttons end *ngIf="userData._id == event.user._id">
      <button ion-button icon-only (click)="editActivity()">
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid class="event-details-grid">
    <ion-row class="custom-row">
      <ion-col col-2 align-self-center>
        <img src="assets/imgs/user.svg" class="small-avatar-img" />
      </ion-col>
      <ion-col col-5>
        <div>invited by {{ event.user.name }}</div>
      </ion-col>
      <ion-col col-5>
        <div ion-text text-end color="primary" (click)="call()">
          {{ event.user.mobile }}
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="custom-row">
      <ion-col col-1 align-self-center>
        <img src="assets/imgs/calender.svg" class="location-img" />
      </ion-col>
      <ion-col col-11>
        <div ion-text text-start>
          {{ setting.formatDateWithDayName(event.date) }}
          {{ formatTime(setting.timeAmPm(event.time)) }}
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="custom-row">
      <ion-col col-1 align-self-center>
        <img src="assets/imgs/location.svg" class="location-img" />
      </ion-col>
      <ion-col col-7>
        <div ion-text text-start>{{ event.location }}</div>
      </ion-col>
      <ion-col col-4>
        <div ion-text text-end color="blue">Take me there</div>
      </ion-col>
    </ion-row>

    <ion-row class="custom-row" *ngIf="event.price">
      <ion-col col-1 align-self-center>
        <img src="assets/imgs/money-bag.svg" class="location-img" />
      </ion-col>
      <ion-col col-11>
        <div ion-text text-start>{{ event.price }} LE per person</div>
      </ion-col>
    </ion-row>

    <ion-row class="custom-row">
      <ion-col col-6 align-self-center>
        <ion-row>
          <ion-col col-2 align-self-center class="no-padding-left">
            <img src="assets/imgs/custom-user.svg" class="user-img" />
          </ion-col>
          <ion-col col-10>
            <div>Min. {{ event.min }} people</div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-6>
        <ion-row>
          <ion-col col-2 align-self-center class="no-padding-left">
            <img src="assets/imgs/custom-user.svg" class="user-img" />
          </ion-col>
          <ion-col col-10>
            <div>Max. {{ event.max }} people</div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="event.description">
      <ion-col col-12>
        <p ion-text color="danger">Activity Note:</p>
        <div ion-text class="desc-txt">
          {{ event.description }}
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-row>
          <ion-col col-6>
            <button
              ion-button
              outline
              round
              block
              float-end
              class="custom-btn custom-chat-btn"
            >
              <!-- <ion-icon name="custom-chat"></ion-icon> -->
              <span class="bold">Chat</span>
            </button>
          </ion-col>
          <ion-col col-6>
            <button
              ion-button
              outline
              round
              block
              (click)="goToTask()"
              class="custom-btn custom-task-btn"
            >
              <!-- <ion-icon name="custom-tasks"></ion-icon> -->
              <span class="bold">Tasks</span>
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="bold synk-txt">
    {{ event.goings_count }}/{{ event.max }} people synked to activity
  </div>
  <ion-row class="find-persons-wrapper-row">
    <ion-col col-12 class="find-persons-wrapper-col">
      <ion-slides slidesPerView="4.4">
        <ion-slide
          *ngFor="let going of goings"
          (click)="openUserProfile(going.user._id)"
        >
          <img src="assets/imgs/1.jpg" class="avatar-img" />
          <div class="avatar-name">{{ going.user.name }}</div>
        </ion-slide>
      </ion-slides>
    </ion-col>

    <ion-col col-12>
      <button
        ion-button
        round
        block
        color="secondary"
        (click)="inviteFriends()"
        class="invite-btn"
      >
        <span class="bold">INVITE FRIENDS</span>
      </button>

      <div class="unsynk" *ngIf="event.isSynked" (click)="unSync()">
        UNSYNK FROM ACTIVITY
      </div>
    </ion-col>
  </ion-row>
</ion-content>
