<ion-header>
  <ion-navbar color="danger">
    <ion-title class="custom-big-title">
      <div>{{ event?.name }}</div>
      <div>
        {{ setting.formatNormalDate(event?.event_date) }} at
        {{ formatTime(event?.event_time) }}
      </div>
    </ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="editActivity()">
        <ion-icon name="custom-edit"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list class="details-list">
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/1.jpg" />
      </ion-avatar>
      <div item-start class="invited-by">Invited By Sara Hatam</div>
    </ion-item>
    <hr class="hr" />
    <ion-item>
      <ion-icon item-start name="custom-Location"></ion-icon>
      <ion-input
        type="text"
        placeholder="Happening Location"
        [(ngModel)]="data.place"
      ></ion-input>
    </ion-item>
    <hr class="hr" />
    <ion-item>
      <ion-icon item-start name="custom-Location"></ion-icon>
      <ion-input
        type="text"
        placeholder="Happening Price"
        [(ngModel)]="data.cost"
      ></ion-input>
    </ion-item>
    <hr class="hr" />
    <ion-row>
      <ion-col col-6 no-padding>
        <ion-item>
          <ion-label color="light" stacked>Min</ion-label>
          <ion-select [(ngModel)]="data.min_number">
            <ion-option value="1">1</ion-option>
            <ion-option value="2">2</ion-option>
          </ion-select>
        </ion-item>
        <hr class="hr" />
      </ion-col>
      <ion-col col-6 no-padding>
        <ion-item>
          <ion-label color="light" stacked>Max</ion-label>
          <ion-select [(ngModel)]="data.max_number">
            <ion-option value="1">1</ion-option>
            <ion-option value="2">2</ion-option>
          </ion-select>
        </ion-item>
        <hr class="hr" />
      </ion-col>

      <ion-col col-12 style="background: white">
        <div class="desc">
          <ion-label>Description</ion-label>
          <ion-textarea [(ngModel)]="data.description"></ion-textarea>
        </div>
        <div class="desc"></div>
        <button
          ion-button
          color="danger"
          class="edit-event"
          full
          round
          (click)="editEvent()"
        >
          <span *ngIf="!isWaiting">Submit</span>
          <ion-spinner
            name="ios-small"
            *ngIf="isWaiting"
            color="light"
          ></ion-spinner>
        </button>
      </ion-col>
      <hr class="hr" />
      <ion-col col-12 style="background: white">
        <ion-row>
          <ion-col col-6>
            <button
              ion-button
              outline
              round
              block
              class="custom-btn custom-chat-btn"
            >
              <ion-icon name="custom-chat"></ion-icon>
              <span class="bold">Chat</span>
            </button>
          </ion-col>
          <ion-col col-6>
            <button
              ion-button
              outline
              round
              block
              (click)="goToTask()"
              class="custom-btn"
            >
              <ion-icon name="custom-tasks"></ion-icon>
              <span class="bold">Tasks</span>
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-list>

  <div class="bold synk-txt">5/7 people synked to activity</div>
  <ion-row class="find-persons-wrapper-row">
    <ion-col col-12 class="find-persons-wrapper-col">
      <ion-slides slidesPerView="4.4">
        <ion-slide *ngFor="let person of Persons">
          <img [src]="person.img" class="avatar-img" />
          <div class="avatar-name">Sara hatam</div>
        </ion-slide>
      </ion-slides>
    </ion-col>

    <ion-col col-12>
      <button ion-button round block color="secondary" class="invite-btn">
        <span class="bold">INVITE FRIENDS</span>
      </button>

      <div class="unsynk">UNSYNK FROM ACTIVITY</div>
    </ion-col>
  </ion-row>
</ion-content>
