<ion-header>
  <ion-navbar transparent>
    <ion-title class="my-title">Edit activity</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-slides>
        <!-- Slide 1 -->
        <ion-slide>
          <ion-row>
            <ion-col col-12>
              <h3 class="title-1 bold">What are you up for?</h3>
              <div class="what-to-do-wrapper">
                <div class="what-to-do">Craete activity with friends</div>
                <div class="what-to-do">or tap a suggestion</div>
              </div>
            </ion-col>

            <ion-col col-12>
              <ion-item class="input-item">
                <ion-input
                  class="activity-input"
                  [(ngModel)]="this.event.title"
                  placeholder="Create activity title here"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-12>
              <div
                class="activity-option"
                *ngFor="let activity of randomActivities"
                [style.background-color]="activity.color"
                (click)="selectActivity(activity)"
              >
                {{ activity.name }}
              </div>
            </ion-col>
          </ion-row>
          <ion-col col-12>
            <button
              ion-button
              color="primary"
              class="done-btn"
              round
              block
              (click)="step(1)"
            >
              Next
              <!-- Create Activity -->
            </button>
          </ion-col>
        </ion-slide>

        <!-- Slide 2 -->
        <ion-slide>
          <ion-row>
            <ion-col col-6>
              <ion-icon
                class="back-btn"
                name="arrow-back"
                item-left
                (click)="back(0)"
              ></ion-icon>
            </ion-col>
            <ion-col col-12>
              <h3 class="title-1 bold">When is your activity?</h3>
            </ion-col>

            <ion-col col-12>
              <ion-item class="time-item">
                <ion-label>Date</ion-label>
                <ion-datetime
                  #date
                  displayFormat="DDDD MMM D, YYYY"
                  min="2019"
                  max="2050"
                  [(ngModel)]="event.date"
                  (ionChange)="step(2)"
                ></ion-datetime>
              </ion-item>

              <ion-item class="not-sure-item">
                <ion-label item-end>Not sure yet.</ion-label>
                <ion-checkbox
                  item-start
                  [(ngModel)]="data.isSureDay"
                  (click)="step(2)"
                ></ion-checkbox>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-slide>

        <!-- Slide 3 -->
        <ion-slide>
          <ion-row>
            <ion-col col-6>
              <ion-icon
                class="back-btn"
                name="arrow-back"
                item-left
                (click)="back(1)"
              ></ion-icon>
            </ion-col>
            <ion-col col-12>
              <h3 class="title-1 bold">What time is your activity?</h3>
            </ion-col>
            <ion-item class="time-item">
              <ion-label>Time</ion-label>
              <ion-datetime
                #time
                displayFormat="hh:mm A"
                [(ngModel)]="event.time"
                (ionChange)="step(3)"
              ></ion-datetime>
            </ion-item>

            <ion-item class="not-sure-item">
              <ion-label item-end>Not sure yet.</ion-label>
              <ion-checkbox
                item-start
                [(ngModel)]="data.isSureTime"
                (click)="step(3)"
              ></ion-checkbox>
            </ion-item>
          </ion-row>
        </ion-slide>

        <!-- Slide 4 -->
        <ion-slide>
          <ion-row>
            <ion-col col-6>
              <ion-icon
                class="back-btn"
                name="arrow-back"
                item-left
                (click)="back(2)"
              ></ion-icon>
            </ion-col>
            <ion-col col-12>
              <h3 class="title-1 bold">Optional</h3>
            </ion-col>
            <ion-col col-12 class="custom-col">
              <ion-item class="custom-item">
                <ion-label color="light" stacked>Location</ion-label>
                <ion-input
                  type="text"
                  [(ngModel)]="event.location"
                  placeholder="Happening location"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-12 class="custom-col">
              <ion-item class="custom-item">
                <ion-label color="light" stacked>Price</ion-label>
                <ion-input
                  type="text"
                  [(ngModel)]="event.price"
                  placeholder="Happening price"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-6 class="custom-col">
              <ion-item class="custom-item custom-min-item">
                <ion-label color="light" stacked>Min</ion-label>
                <ion-input
                  type="tel"
                  [(ngModel)]="event.min"
                  placeholder="Min people"
                  s
                ></ion-input>
              </ion-item>
            </ion-col>

            <ion-col col-6 class="custom-col">
              <ion-item class="custom-item custom-max-item">
                <ion-label color="light" stacked>Max</ion-label>
                <ion-input
                  type="tel"
                  [(ngModel)]="event.max"
                  placeholder="Max people"
                ></ion-input>
              </ion-item>
            </ion-col>

            <ion-col col-12 class="custom-col">
              <ion-item class="custom-item">
                <ion-textarea
                  placeholder="Description"
                  [(ngModel)]="event.description"
                  rows="6"
                >
                </ion-textarea>
              </ion-item>
            </ion-col>

            <ion-col col-12 class="custom-col">
              <button
                ion-button
                color="primary"
                class="next-btn"
                [disabled]="isWaiting"
                (click)="editEvent()"
                full
                round
              >
                <span *ngIf="!isWaiting">Done</span>
                <ion-spinner
                  name="ios-small"
                  *ngIf="isWaiting"
                  color="light"
                ></ion-spinner>
              </button>
            </ion-col>
          </ion-row>
        </ion-slide>
      </ion-slides> </ion-row
  ></ion-grid>
</ion-content>
