page-introduction {
  .scroll-content {
    background: url(../assets/imgs/bg.jpg) no-repeat;
    background-size: cover;
    background-clip: border-box;
  }
  .synk-wrapper {
    margin: auto;
    text-align: center;
    margin-top: 75%;
  }
  .already {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
  }
  .synk-word {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .btn-width {
    width: 95%;
  }
  .sign-up-btn {
    margin-top: 13rem;
  }
}
