page-suggestion-friends {
  .toolbar-title-ios {
    display: table-cell;
    vertical-align: middle;
  }

  ion-header {
    background: #f2eff0;
  }
  .friend-requests {
    font-size: 14px;
  }
  .scroll-content {
    background: #f1eff0 !important;
  }
  .accept-btn {
    height: 1.5em !important;
    width: 80%;
  }
  .title-row {
    margin-top: 1.3rem;
  }
  .friend-img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: auto;
    display: block;
  }
  .hr {
    height: 0.95px;
  }
  .friends-wraaper {
    background: white;
  }
  .searchbar {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .contact-title {
    margin-left: 2rem;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .friends-wraaper-row {
    border-bottom: 1px solid #d8d8d8;
    padding: 0.6rem;
  }

  .searchbar-ios {
    padding: 0 8px;
    min-height: 44px;
    border-top: 0;
    border-bottom: 0;
    background: #f1eff0;
    .searchbar-input {
      padding: 0 28px;
      border-radius: 20px;
      height: 4rem;
      font-size: 1.4rem;
      font-weight: 400;
      color: #000;
      background-color: #fff;
    }
    .searchbar-search-icon {
      left: 16px;
      top: 13px;
      background-size: 14px;
      background-image: url(../assets/imgs/search.svg) !important;
    }
  }

  .searchbar-ios.searchbar-left-aligned .searchbar-input {
    padding-left: 48px;
  }
}
