<ion-header>
  <ion-navbar>
    <ion-title>Suggestion friends</ion-title>
  </ion-navbar>
  <ion-searchbar
    [(ngModel)]="data.search"
    showCancelButton="false"
    placeholder="Search for suggestion friends"
    (ionInput)="search()"
    (ionCancel)="onCancel($event)"
  >
  </ion-searchbar>
</ion-header>

<ion-content>
  <loading *ngIf="isLoading"></loading>
  <ion-grid *ngIf="!isLoading" class="friends-wraaper" no-padding>
    <ion-row *ngFor="let friend of friends" class="friends-wraaper-row">
      <ion-col no-padding col-3 (click)="openUserProfile(friend._id)">
        <img src="assets/imgs/user.svg" class="friend-img" />
      </ion-col>
      <ion-col
        no-padding
        col-7
        align-self-center
        (click)="openUserProfile(friend._id)"
      >
        <div class="bold">{{ friend.name }}</div>
      </ion-col>
      <ion-col col-2 align-self-center>
        <button
          *ngIf="!friend.isActive && !friend.has_friend_request_sent"
          ion-button
          class="add-btn"
          color="primary"
          (click)="addFriend(friend)"
        >
          <span *ngIf="!friend.isActive">Add</span>
          <ion-spinner
            name="ios-small"
            *ngIf="friend.isActive"
            color="light"
          ></ion-spinner>
        </button>
        <div ion-text color="primary" *ngIf="friend.has_friend_request_sent">
          Pending
        </div>
      </ion-col>
    </ion-row>
    <not-found
      class="not-found"
      *ngIf="friends.length == 0"
      txt="No suggestion found."
    ></not-found>
  </ion-grid>
</ion-content>
