<ion-header>
  <ion-navbar color="gray">
    <ion-title>Happening.</ion-title>
  </ion-navbar>
  <ion-searchbar
    [(ngModel)]="data.search"
    showCancelButton="false"
    placeholder="Search"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)"
  >
  </ion-searchbar>
</ion-header>

<ion-content>
  <!-- <ion-row class="find-persons-wrapper-row">
    <ion-col col-12 class="find-persons-wrapper-col">
      <div class="bold">FRIENDS 20 MIN AWAY</div>
      <ion-slides slidesPerView="4.4">
        <ion-slide *ngFor="let person of Persons">
          <img [src]="person.img" class="avatar-img" />
          <div class="avatar-name">Sara hatam</div>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row> -->

  <ion-row>
    <ion-col col-12>
      <div class="bold">TODAY TUESDAY 10 NOV</div>
    </ion-col>
  </ion-row>

  <loading *ngIf="isLoading"></loading>

  <ion-row *ngIf="!isLoading" class="all-eevnt-row-wrapper">
    <ion-col col-12 no-padding class="all-eevnt-col-wrapper">
      <ion-list>
        <ion-item-sliding #item *ngFor="let event of Events">
          <ion-item>
            <ion-row
              class="item-slide-row"
              [class.customInvitedBg]="event.isInvited"
            >
              <ion-col col-12 no-padding>
                <ion-row
                  class="sec-1"
                  [class.customInvitedBg]="event.isInvited"
                >
                  <ion-col col-6 (click)="eventDetails(event)">
                    <div class="event-name">{{ event.name }}</div>
                    <div class="invited-by">Sara hatem invited you</div>
                  </ion-col>
                  <ion-col col-6 (click)="eventDetails(event)">
                    <div class="event-time" ion-text float-right>
                      {{ formatTime(event.event_time) }}
                    </div>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col
                col-12
                class="sec-2"
                [class.customInvitedBg]="event.isInvited"
              >
                <ion-row>
                  <ion-col col-9>
                    <div
                      item-start
                      class="address"
                      (click)="eventDetails(event)"
                    >
                      <ion-icon name="custom-Location"></ion-icon>
                      {{ event.place }}
                    </div>
                    <div class="synked-people" (click)="eventDetails(event)">
                      <ion-icon name="custom-people"></ion-icon>
                      {{ event.going_count }}/{{ event.max_number }} people
                      synked
                    </div>
                  </ion-col>
                  <ion-col col-3 align-self-end>
                    <button
                      ion-button
                      round
                      block
                      color="primary"
                      class="my-btn"
                      *ngIf="event.isSynked"
                    >
                      INVITE
                    </button>
                    <button
                      ion-button
                      round
                      block
                      *ngIf="!event.isSynked"
                      color="primary"
                      class="my-btn"
                      (click)="synk(event)"
                    >
                      <span *ngIf="!event.waitingSynk">SYNK</span>
                      <ion-spinner
                        name="ios-small"
                        *ngIf="event.waitingSynk"
                        color="light"
                      ></ion-spinner>
                    </button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-item>

          <ion-item-options side="right">
            <button ion-button color="red" (click)="unread(item)">
              Delete
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
