
page-home {
    .toolbar-ios{
      padding: 30px;
      padding-left: 4px;
      padding-right: 4px;
      min-height: 66px;
    }
    .toolbar-title-ios{
    }
    ion-header{
      background: #f1eff0;
    }
    .avatar-img{
      width: 60px;
      height: 60px;
      border-radius: 100%;
    }

    

    .avatar-name{
      font-size: 13px;
    }
    .scroll-content{
      background: #f1eff0 !important;
    }
    .find-persons-wrapper-row{
      background: white;
      padding: 5px;
      margin-top: 3rem;
    }
    .find-persons-wrapper-col{
      margin-bottom: 2rem;
    }
    .item-ios.item-block .item-inner{
      padding-right : 0  !important;
    }
    .item{
      padding-left : 0 !important;
    }
    .label{
        margin: 0 !important;;
    }
    .list-ios ion-item-sliding{
      width: 95%;
      margin: auto;
      border-radius: 10px;
      margin-bottom: 1rem;
    }
    .searchbar-ios .searchbar-input{
      color: black;
    }
  
    .item-slide-row{
      color: white;
      background: #e87261;
    }
    .sec-1{
      background: #e87261;
    }
    .sec-2{
      background: #e98575;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      line-height: 1;
    }
    .event-name{
      font-size: 25px;
      font-weight: bold;
      margin-left: 10px;
      margin-top: 5px;
    }
    .event-time{
      font-size: 25px;
      font-weight: bold;
      margin-top: 5px;
      margin-right: 5px;
    }
    .invited-by{
      font-size: 12px;
      margin-left: 10px;
    }
    ion-icon[class*="custom-Location"] , ion-icon[class*="custom-people"]{
      vertical-align: bottom;
      margin-left: 10px;
    }
    .address , .synked-people{
      font-size: 14px;
    }
    .synked-people{
      margin-bottom: 1.4rem;
    }
  
    .all-eevnt-row-wrapper{
      background: white;
      .all-eevnt-col-wrapper{
          margin-top: 1.5rem;
      }
    }
    .my-btn{
      height : 2.3em !important;
    }
    .customSynkBg{
        background: #697be9 !important;
    }
    .customInvitedBg{
        background: #efb762 !important;
    }
    .searchbar-ios{
      background: #f2eff0;
      .searchbar-input{
        background-color: white;
      }
    }


  }
  


  .searchbar-ios .searchbar-search-icon{
    width: 22px;
    height: 22px;
    background-size: 22px;
    top: 9px;
    left: 17px;
  }

      // Alert
      .alert-ios .alert-title{
        font-size: 20px;
        padding: 0.5rem;
        margin-top: 0;
        color: white;
      }
      .alert-ios .alert-message{
        font-size: 2.1rem;
        color: white;
        margin-top: 2rem;
      }
      .alert-ios .alert-head{
          background: #00abb5;
          padding: 6px 16px 7px;
      }
    
      .alert-ios .alert-wrapper{
          max-width: 300px !important;
          background-color: #2c292a;
      }
    
      .toolbar-title-ios{
    
      .alert-ios .alert-button-group{
        width: 50%;
        background: #00adb7;
        margin: auto;
        border-radius: 2rem;
        margin-bottom: 3rem;
      }
      .alert-ios .alert-button{
        border-top : 0 !important;
        height: 34px;
      }
    
      .alert-ios .alert-button:last-child{
        color: white;
      }
      // end alert
    }