<ion-header>
  <ion-navbar color="gray">
    <ion-title>Happening.</ion-title>
    <ion-buttons end>
      <button ion-button (click)="toggleClick()">
        <ion-toggle
          #autoToggle
          [(ngModel)]="data.toggle"
          (ionChange)="changeStatus($event)"
        ></ion-toggle>
      </button>
      <div style="margin-top: 0.6rem;" ion-text color="primary">
        My Activities
      </div>
    </ion-buttons>
    <ion-buttons start>
      <button
        ion-button
        (click)="inviteFriendsToApp()"
        class="invite-friends-btn"
      >
        Invite Friends
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar
    [(ngModel)]="data.search"
    showCancelButton="false"
    placeholder="Search"
    (ionInput)="search()"
    (ionCancel)="onCancel($event)"
  >
  </ion-searchbar>
</ion-header>

<ion-content padding>
  <loading *ngIf="isLoading"></loading>
  <div *ngIf="!isLoading">
    <ion-grid
      [ngStyle]="{ 'background-color': event.color ? event.color : '#e87261' }"
      class="card-grid"
      *ngFor="let event of allEvents"
    >
      <ion-row class="top-row" (click)="eventDetails(event)">
        <ion-col col-7>
          <h4>{{ event.title }}</h4>
          <p style="margin: 0;">
            created by {{ event.user.name | truncate: 10:"..." }}
          </p>
        </ion-col>
        <ion-col col-5 style="line-height: 0;">
          <h4 ion-text text-end *ngIf="event.time">
            {{ setting.toLowerCase(formatTime(setting.timeAmPm(event.time))) }}
          </h4>
          <p ion-text text-end class="happening-date" *ngIf="event.date">
            {{ setting.formatDateWithDayName(date) }}
          </p>
        </ion-col>
      </ion-row>
      <ion-row class="bottom-row">
        <ion-col col-8 (click)="eventDetails(event)">
          <div class="icon-txt-wrapper">
            <img
              src="assets/imgs/location.svg"
              class="icon-img"
              *ngIf="!event.isSynked"
            />
            <img
              src="assets/imgs/location-yellow.svg"
              class="icon-img"
              *ngIf="event.isSynked"
            />
            <p class="location-txt" *ngIf="event.location">
              {{ event.location }}
            </p>
            <p class="location-txt" *ngIf="!event.location">Tba</p>
          </div>
          <div>
            <img
              src="assets/imgs/custom-user.svg"
              *ngIf="!event.isSynked"
              class="icon-img"
            />
            <img
              src="assets/imgs/user-yellow.svg"
              *ngIf="event.isSynked"
              class="icon-img"
            />

            <p class="location-txt" *ngIf="event.max != 0">
              {{ event.goings_count }}/{{ event.max }} people synked
            </p>
            <p class="location-txt" *ngIf="event.max == 0">
              {{ event.goings_count }} people synked
            </p>
          </div>
        </ion-col>
        <ion-col col-4 *ngIf="event.goings_count != event.max">
          <button
            ion-button
            color="primary"
            class="card-btn"
            round
            *ngIf="!event.isSynked"
            (click)="makeGoing(event)"
          >
            <span *ngIf="!event.isInviteActive">Synk</span>
            <ion-spinner
              name="ios-small"
              *ngIf="event.isInviteActive"
              color="light"
            ></ion-spinner>
          </button>
          <button
            ion-button
            color="yellow"
            class="card-btn"
            *ngIf="event.isSynked"
            round
            (click)="inviteFriends(event)"
          >
            <span *ngIf="!event.active">Invite</span>
            <ion-spinner
              name="ios-small"
              *ngIf="event.active"
              color="light"
            ></ion-spinner>
          </button>
        </ion-col>
        <ion-col col-4 align-self-center>
          <div
            class="completed"
            *ngIf="event.goings_count == event.max && event.max != 0"
          >
            Completed
          </div>
          <!-- <div class="completed" *ngIf="event.max == 0 && !event.isSynked">
            Open
          </div> -->
        </ion-col>
      </ion-row>
    </ion-grid>
    <not-found
      *ngIf="allEvents.length == 0"
      txt="No activities found."
    ></not-found>
    <ion-row *ngIf="allEvents.length == 0">
      <button
        class="add-event-btn"
        (click)="createEvent()"
        ion-button
        color="primary"
        round
      >
        Add Activity
      </button>
    </ion-row>
  </div>

  <ion-infinite-scroll
    *ngIf="!this.data.toggle"
    (ionInfinite)="doInfinite($event)"
  >
    <ion-infinite-scroll-content
      loadingText="Loading..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
