page-home {
  .toolbar-ios {
    padding: 30px;
    padding-left: 4px;
    padding-right: 4px;
    min-height: 66px;
  }

  ion-header {
    background: #f1eff0;
  }

  // Alert
  .alert-ios .alert-title {
    font-size: 20px;
    padding: 0.5rem;
    margin-top: 0;
    color: white;
  }
  .alert-ios .alert-message {
    font-size: 2.1rem;
    color: white;
    margin-top: 2rem;
  }
  .alert-ios .alert-head {
    background: #00abb5;
    padding: 6px 16px 7px;
  }

  .alert-ios .alert-wrapper {
    max-width: 300px !important;
    background-color: #2c292a;
  }

  .toolbar-title-ios {
    .alert-ios .alert-button-group {
      width: 50%;
      background: #00adb7;
      margin: auto;
      border-radius: 2rem;
      margin-bottom: 3rem;
    }
    .alert-ios .alert-button {
      border-top: 0 !important;
      height: 34px;
    }

    .alert-ios .alert-button:last-child {
      color: white;
    }
    // end alert
  }

  .avatar-name {
    font-size: 13px;
  }
  .scroll-content {
    background: #f1eff0 !important;
    padding: 12px;
  }
  .find-persons-wrapper-row {
    background: white;
    padding: 5px;
    margin-top: 3rem;
  }
  .find-persons-wrapper-col {
    margin-bottom: 2rem;
  }

  .list-ios ion-item-sliding {
    width: 95%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  .searchbar-ios .searchbar-input {
    color: black;
  }

  .searchbar-ios {
    background: #f2eff0;
    .searchbar-input {
      background-color: white;
    }
  }

  .card-grid {
    background: #e87261;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0;
    .top-row {
      background: #e87261;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      // line-height: 0;
      color: white;
      padding: 1rem;
    }
    .bottom-row {
      background: #e98575;
      line-height: 0.7;
      color: white;
      font-size: 1.4rem;
      border-radius: 1rem;
      padding: 0.4rem;
    }
    h4 {
      font-size: 2.8rem;
    }
    .icon-img {
      width: 2rem;
      display: inline-block;
    }
    .completed {
      background: black;
      padding: 0.6rem;
      text-align: center;
      border-radius: 1rem;
    }
    .icon-txt-wrapper {
      margin-bottom: 1rem;
    }

    .location-txt {
      display: inline-block;
      vertical-align: super;
      margin: 0;
    }
    .card-btn {
      .button-inner {
        font-weight: bold;
        font-size: 1.9rem;
      }
    }
  }

  .add-event-btn {
    margin: auto !important;
    margin-top: 2rem !important;
  }
}

.searchbar-ios .searchbar-search-icon {
  width: 22px;
  height: 22px;
  background-size: 22px;
  top: 9px;
  left: 17px;
}
