page-sign-up {
  .next-btn {
    margin-top: 3rem;
  }
  .select-gender {
    text-align: left;
    margin-top: 3rem;
  }
  // .swiper-slide {
  //   height: auto;
  // }
  .ion-ios-arrow-back:before {
    content: "\f3cf";
    position: relative;
    left: 0;
    color: #00747d;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .phone-txt {
    width: 95%;
    margin-top: 5rem;
    font-size: 14px;
    color: gray;
    line-height: 1.5;
  }
  .user-img-wrapper {
    background: #00747d;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 100%;
    margin-bottom: 2rem;
    .add-img {
      width: 5rem;
      margin: auto;
      display: block;
      padding-top: 1.4rem;
    }
  }
  .user-img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: auto;
    display: block;
    margin-bottom: 2rem;
  }
  .add-img-txt {
    text-align: center;
    color: white;
    font-size: 1.2rem;
  }
}
