<ion-header>
  <ion-navbar color="gray">
    <ion-title>Change Password</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <div class="cancel">Cancel</div>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label fixed>Old Password</ion-label>
      <ion-input type="password" [(ngModel)]="data.old_password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>New Password</ion-label>
      <ion-input type="password" [(ngModel)]="data.new_password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Confirm new Password</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="data.new_password_confirm"
      ></ion-input>
    </ion-item>

    <button
      ion-button
      color="primary"
      (click)="changePassword()"
      [disabled]="isWaiting"
      round
      block
      class="save-btn"
    >
      <span *ngIf="!isWaiting">Save</span>
      <ion-spinner
        name="ios-small"
        *ngIf="isWaiting"
        color="light"
      ></ion-spinner>
    </button>
  </ion-list>
</ion-content>
