page-change-password {
    .label{
        font-size: 15px;
    }
    .save-btn{
        width: 95%;
        margin: auto;
        margin-top: 3rem;
        .button-inner{
            font-size: 20px;
        }
    }

    ion-label[fixed]{
        min-width: 180px;
    }
}
