@font-face {
  font-family: "Helvetica";
  src: url("../assets/fonts/HelveticaRoundedLTStd-Bd.woff");
  font-weight: bold;
  font-style: normal;
}

.toolbar-title-ios {
  font-weight: bold !important;
  font-size: 2rem;
  font-family: "Helvetica";
}
.toolbar-ios {
  display: table !important;
}
.toolbar-ios ion-title {
  font-family: "Helvetica";
}
// custom ionic icons
ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="custom-happening"] {
    mask-image: url(../assets/imgs/Happening.png);
  }
  &[class*="custom-Friends"] {
    mask-image: url(../assets/imgs/Friends.png);
  }

  &[class*="custom-phone"] {
    mask-image: url(../assets/imgs/phone.svg);
  }

  &[class*="custom-Notifications"] {
    mask-image: url(../assets/imgs/Notifications.png);
  }

  &[class*="custom-add"] {
    mask-image: url(../assets/imgs/add.png);
  }

  &[class*="custom-calender"] {
    mask-image: url(../assets/imgs/calender.svg);
  }

  &[class*="custom-edit"] {
    mask-image: url(../assets/imgs/edit.png);
  }

  &[class*="custom-Location"] {
    mask-image: url(../assets/imgs/Location.png);
  }
  &[class*="custom-chat"] {
    mask-image: url(../assets/imgs/chat.png);
  }
  &[class*="custom-tasks"] {
    mask-image: url(../assets/imgs/tasks.png);
  }
  &[class*="custom-people"] {
    mask-image: url(../assets/imgs/People.png);
  }
}

.tabs .tabbar {
  border-top: 0;
}

.bold {
  font-weight: bold;
}

.header .toolbar-background,
.footer .toolbar-background {
  border-style: none;
}

ion-label {
  overflow: initial;
  white-space: initial;
}

.tabs .tab-button-icon {
  margin-top: 4px;
  margin-bottom: 1px;
  min-width: 35px;
  height: 24px;
  font-size: 14px;
  color: #8c8c8c;
}

.ion-ios-close:before {
  color: white;
  font-size: 42px;
  margin-right: 10px;
}

.searchbar {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.searchbar-ios {
  padding: 0 8px;
  min-height: 44px;
  border-top: 0;
  border-bottom: 0;
  background: #2b292a;
  .searchbar-input {
    padding: 0 28px;
    border-radius: 20px;
    height: 4rem;
    width: 96%;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
    color: white;
    background-color: #585557;
  }
  .searchbar-search-icon {
    left: 16px;
    top: 13px;
    background-size: 14px;
    background-image: url(../assets/imgs/search.svg) !important;
  }
}
.searchbar-ios.searchbar-left-aligned .searchbar-input {
  padding-left: 48px;
}

// .custom-title {
//   left: 35px !important;
//   padding: 0;
//   top: 1px;
// }

// .custom-big-title {
//   left: 40px !important;
//   padding: 0;
//   top: 1px;
// }
