<ion-header>
  <ion-navbar>
    <ion-title>Notifications.</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <loading *ngIf="isLoading"></loading>
  <ion-list *ngIf="!isLoading">
    <button
      [class.not-read]="!notification.is_clicked"
      ion-item
      (click)="updateNotification(notification)"
      *ngFor="let notification of notifications"
    >
      <ion-row>
        <ion-col col-12>
          <div class="time">{{ notification.time }}</div>
        </ion-col>
        <ion-col col-2>
          <img src="assets/imgs/1.jpg" class="noti-icon" />
        </ion-col>
        <ion-col col-10 class="noti-txt">
          <span>{{ notification.message }}</span>
        </ion-col>
      </ion-row>
    </button>
  </ion-list>
  <not-found
    *ngIf="!isLoading && notifications.length == 0"
    txt="No notifications found!"
  ></not-found>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingText="Loading..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
