page-notifications {
    .list-ios > .item-block:first-child{
        border-top: 0;
    }
    .toolbar-title-ios{
    }
    .time{
        font-size: 15px;
        margin-top: 5px;
        color: #a7a7a7;    
    }
    .noti-icon{
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }
    .noti-txt{
        margin-left: -1rem;
    }
    .not-read{
        background: #484647;
        color: white;
    }
    .invited-by{
        color: #00dae4;
        font-weight: bold;
    }
}
