<ion-header>
  <ion-navbar>
    <ion-title>Tasks</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col col-8 align-self-center>
      <div class="bold">BUY DRINK</div>
    </ion-col>
    <ion-col col-4>
      <div class="task-wrapper">
        <img src="assets/imgs/1.jpg" class="task-img" />
        <div class="voulnter-name">Ahmed Hatem</div>
      </div>
    </ion-col>
    <hr class="hr" />

    <ion-col col-8 align-self-center>
      <div class="bold">Bake Cholclate Cake</div>
    </ion-col>
    <ion-col col-4>
      <div class="task-wrapper">
        <img src="assets/imgs/1.jpg" class="task-img" />
        <div class="voulnter-name">Ahmed Salama</div>
      </div>
    </ion-col>
    <hr class="hr" />

    <ion-col col-8 align-self-center>
      <div class="bold">Pick Friends Up From House</div>
    </ion-col>
    <ion-col col-4>
      <button ion-button round color="secondary" class="assign-btn">
        Assign
      </button>
    </ion-col>
    <hr class="hr" />

    <ion-col col-8 align-self-center>
      <div class="bold">Make Reservation</div>
    </ion-col>
    <ion-col col-4>
      <button ion-button round color="secondary" class="assign-btn">
        Assign
      </button>
    </ion-col>
    <hr class="hr" />

    <ion-col col-8 align-self-center>
      <ion-input placeholder="Type New Task Here"></ion-input>
    </ion-col>
    <ion-col col-4>
      <button
        ion-button
        round
        color="primary"
        class="add-btn"
        (click)="createTask()"
      >
        <span *ngIf="!isWaiting">Add</span>
        <ion-spinner
          name="ios-small"
          *ngIf="isWaiting"
          color="light"
        ></ion-spinner>
      </button>
    </ion-col>
  </ion-row>
</ion-content>
