page-tasks {
  .task-img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin: auto;
    display: block;
  }
  .voulnter-name {
    text-align: center;
    font-size: 12px;
  }
  .hr {
    height: 1.15px;
    width: 100%;
    margin: auto;
  }
  .assign-btn {
    height: 1.8em;
  }
  .add-btn {
    margin: auto;
    display: block;
    height: 1.8em;
  }
  .toolbar-ios ion-title {
    left: 35px;
    padding: 0;
    top: 1px;
  }
}
