<ion-header>
  <ion-navbar>
    <ion-title>Forget Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col col-12>
      <p>Are you forget password?</p>
      <div class="resend">
        please confirm your email and we will send new password to your email.
      </div>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-item>
      <ion-label color="primary" stacked>Stacked Label</ion-label>
      <ion-input
        type="email"
        [(ngModel)]="data.email"
        placeholder="Email"
      ></ion-input>
    </ion-item>
  </ion-list>
  <button
    ion-button
    [disabled]="isWaiting"
    block
    full
    color="primary"
    (click)="send()"
  >
    <span *ngIf="!isWaiting">Send</span>
    <ion-spinner name="ios-small" *ngIf="isWaiting" color="light"></ion-spinner>
  </button>
</ion-content>
