user-card {
  .friend-requests {
    font-size: 14px;
  }
  .scroll-content {
    background: #f1eff0 !important;
  }

  .friend-img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: auto;
    display: block;
  }
  .friends-wrapper-row {
    border-bottom: 1px solid #d2d0d0;
    padding: 1rem;
  }
  .accept-btn {
    height: 2.4em !important;
    width: 85%;
  }
  .hr {
    height: 0.95px;
  }

  .friends-wraaper {
    background: white;
  }
}
