page-friend-requests {
    .scroll-content{
        background: #f1eff0 !important;
    }
    .accept-btn{
        height : 1.5em !important;
    }
    .friend-img{
        width: 65px;
        height: 65px;
        border-radius: 100%;
        margin: auto;
        display: block;
    }
    .hr{
        height: 0.85px;
    }
}
