<ion-header>
  <ion-navbar transparent>
    <ion-title></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons start *ngIf="data.showDoneBtn">
      <button ion-button icon-only (click)="back(4)">
        <ion-icon class="back-btn" name="arrow-back" item-left></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <div class="choose-friends" *ngIf="data.showDoneBtn">Choose Friends</div>
  <ion-searchbar
    *ngIf="data.showDoneBtn"
    [(ngModel)]="data.search"
    showCancelButton="false"
    placeholder="Search"
    (ionInput)="Search($event)"
    (ionCancel)="onCancel($event)"
  >
  </ion-searchbar>
</ion-header>

<ion-content
  [class.disabledScroll]="!isSlideReachEnd"
  [class.enabledScroll]="isSlideReachEnd"
>
  <ion-grid no-padding>
    <ion-row>
      <ion-slides (ionSlideReachEnd)="reachEnd()" (ionSlidePrevEnd)="prevEnd()">
        <!-- Slide 1 -->
        <ion-slide>
          <ion-row>
            <ion-col col-12>
              <h3 class="title-1 bold">What are you up for?</h3>
              <div class="what-to-do-wrapper">
                <div class="what-to-do">Craete activity with friends</div>
                <div class="what-to-do">or tap a suggestion</div>
              </div>
            </ion-col>

            <ion-col col-12>
              <ion-item class="input-item">
                <ion-input
                  class="activity-input"
                  [(ngModel)]="data.title"
                  placeholder="Create activity title here"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-12>
              <div
                class="activity-option"
                *ngFor="let activity of randomActivities"
                [style.background-color]="activity.color"
                (click)="selectActivity(activity)"
              >
                {{ activity.name }}
              </div>
            </ion-col>
          </ion-row>
          <ion-col col-12>
            <button
              ion-button
              color="primary"
              class="done-btn"
              round
              block
              (click)="step(1)"
            >
              Create Activity
            </button>
          </ion-col>
        </ion-slide>

        <!-- Slide 2 -->
        <ion-slide>
          <ion-row>
            <ion-col col-6>
              <ion-icon
                class="back-btn"
                name="arrow-back"
                item-left
                (click)="back(0)"
              ></ion-icon>
            </ion-col>
            <ion-col col-12>
              <h3 class="title-1 bold">When is your activity?</h3>
            </ion-col>

            <ion-col col-12>
              <ion-item class="time-item">
                <ion-label>Date</ion-label>
                <ion-datetime
                  #date
                  displayFormat="DDDD MMM D, YYYY"
                  min="2019"
                  max="2050"
                  [(ngModel)]="data.date"
                  (ionChange)="step(2)"
                ></ion-datetime>
              </ion-item>

              <ion-item class="not-sure-item">
                <ion-label item-end>Not sure yet.</ion-label>
                <ion-checkbox
                  item-start
                  [(ngModel)]="data.isSureDay"
                  (click)="step(2)"
                ></ion-checkbox>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-slide>

        <!-- Slide 3 -->
        <ion-slide>
          <ion-row>
            <ion-col col-6>
              <ion-icon
                class="back-btn"
                name="arrow-back"
                item-left
                (click)="back(1)"
              ></ion-icon>
            </ion-col>
            <ion-col col-12>
              <h3 class="title-1 bold">What time is your activity?</h3>
            </ion-col>
            <ion-item class="time-item">
              <ion-label>Time</ion-label>
              <ion-datetime
                #time
                displayFormat="hh:mm A"
                [(ngModel)]="data.event_time"
                (ionChange)="step(3)"
              ></ion-datetime>
            </ion-item>

            <ion-item class="not-sure-item">
              <ion-label item-end>Not sure yet.</ion-label>
              <ion-checkbox
                item-start
                [(ngModel)]="data.isSureTime"
                (click)="step(3)"
              ></ion-checkbox>
            </ion-item>
          </ion-row>
        </ion-slide>

        <!-- Slide 4 -->
        <ion-slide>
          <ion-row>
            <ion-col col-6>
              <ion-icon
                class="back-btn"
                name="arrow-back"
                item-left
                (click)="back(2)"
              ></ion-icon>
            </ion-col>
            <ion-col col-12 class="custom-col">
              <ion-item class="custom-item">
                <ion-label color="light" stacked></ion-label>
                <ion-input
                  type="text"
                  [(ngModel)]="data.location"
                  placeholder="Happening location"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-12 class="custom-col">
              <ion-item class="custom-item">
                <ion-label color="light" stacked></ion-label>
                <ion-input
                  type="text"
                  [(ngModel)]="data.price"
                  placeholder="Happening price"
                ></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-6 class="custom-col">
              <ion-item class="custom-item custom-min-item">
                <ion-label color="light" stacked></ion-label>
                <ion-input
                  type="tel"
                  [(ngModel)]="data.min"
                  placeholder="Min people"
                ></ion-input>
              </ion-item>
            </ion-col>

            <ion-col col-6 class="custom-col">
              <ion-item class="custom-item custom-max-item">
                <ion-label color="light" stacked></ion-label>
                <ion-input
                  type="tel"
                  [(ngModel)]="data.max"
                  placeholder="Max people"
                ></ion-input>
              </ion-item>
            </ion-col>

            <ion-col col-12 class="custom-col">
              <button
                ion-button
                color="primary"
                class="next-btn"
                (click)="step(4)"
                full
                round
              >
                <span *ngIf="!isWaitingStepOne">Next</span>
                <ion-spinner
                  name="ios-small"
                  *ngIf="isWaitingStepOne"
                  color="light"
                ></ion-spinner>
              </button>
            </ion-col>
          </ion-row>
        </ion-slide>

        <!-- Slide 5 -->
        <ion-slide>
          <ion-row>
            <ion-col col-6>
              <ion-icon
                class="back-btn"
                name="arrow-back"
                item-left
                (click)="back(3)"
              ></ion-icon>
            </ion-col>
            <ion-col col-12>
              <h3 class="title-1 bold">Who can join your activity?</h3>
            </ion-col>

            <ion-col col-12>
              <button
                ion-button
                round
                color="secondary"
                class="done-btn"
                (click)="allSynkCommunity()"
              >
                <span *ngIf="!isWaiting">SYNK COMMUNITY</span>
                <ion-spinner
                  name="ios-small"
                  *ngIf="isWaiting"
                  color="light"
                ></ion-spinner>
              </button>
              <button
                ion-button
                round
                color="primary"
                class="done-btn"
                (click)="step(5)"
              >
                CHOOSE FRIENDS
              </button>
            </ion-col>
          </ion-row>
        </ion-slide>

        <!-- Slide 5 -->

        <!-- Slide 6 -->
        <ion-slide>
          <ion-grid class="contacts-grid">
            <ion-row
              class="friends-wrapper"
              *ngFor="let friend of newFriends"
              [style.background-color]="friend.active ? '#464545' : ''"
            >
              <ion-col col-2>
                <img src="assets/imgs/1.jpg" class="user-img" />
              </ion-col>
              <ion-col col-8>
                <h6 ion-text text-start color="light">{{ friend.name }}</h6>
              </ion-col>
              <ion-col col-2 align-self-center>
                <ion-checkbox
                  item-end
                  (ionChange)="checkContact($event, friend)"
                ></ion-checkbox>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer text-center no-border transparent *ngIf="data.showDoneBtn">
  <ion-row>
    <ion-col col-12>
      <button
        ion-button
        color="primary"
        class="done-btn"
        round
        block
        (click)="Done()"
      >
        <span *ngIf="!isWaiting">Done</span>
        <ion-spinner
          name="ios-small"
          *ngIf="isWaiting"
          color="light"
        ></ion-spinner>
      </button>
    </ion-col>
  </ion-row>
</ion-footer>
