<ion-header>

  <ion-navbar transparent>
    <ion-title></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons start *ngIf="data.showDoneBtn">
      <button ion-button icon-only (click)="back(3)">
        <ion-icon class="back-btn" name="arrow-back" item-left></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>


  <div class="choose-friends" *ngIf="data.showDoneBtn">Choose Friends</div>
  <ion-searchbar *ngIf="data.showDoneBtn" [(ngModel)]="data.search" showCancelButton="false" placeholder="Search"
    (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>


</ion-header>


<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-slides>
        <!-- Slide 1 -->
        <ion-slide>

          <ion-row>
            <ion-col col-12>
              <h3 class="title-1 bold">What are you up for now?</h3>
              <div class="what-to-do-wrapper">
                <div class="what-to-do">Craete activity with friends</div>
                <div class="what-to-do">or tap a suggestion</div>
              </div>
            </ion-col>

            <ion-col col-12>
              <ion-item class="input-item">
                <ion-input placeholder="Create activity title here"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-12>
              <div class="activity-option" *ngFor="let activity of randomActivities" [style.background-color]="activity.color">{{activity.name}}</div>
            </ion-col>
          </ion-row>
          <ion-col col-12>
            <button ion-button color="primary" class="done-btn" round block (click)="step(1)">Create Activity</button>
          </ion-col>

        </ion-slide>

        <!-- Slide 2 -->
        <ion-slide>
          <ion-row>
            <ion-col col-6>
              <ion-icon class="back-btn" name="arrow-back" item-left (click)="back(0)"></ion-icon>
            </ion-col>
            <ion-col col-12>
              <h3 class="title-1 bold">When is your activity?</h3>
            </ion-col>

            <ion-col col-12>

              <ion-item class="time-item">
                <ion-label>Date</ion-label>
                <ion-datetime #date displayFormat="DDDD MMM D, YYYY" min="2019" max="2050" [(ngModel)]="chromeReleased"></ion-datetime>
              </ion-item>

              <ion-list>
                <ion-item class="not-sure-item">
                  <ion-label item-end>Not sure yet.</ion-label>
                  <ion-checkbox item-start [(ngModel)]="data.isSureDay"></ion-checkbox>
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-col col-12>
              <button ion-button color="primary" class="done-btn" round block (click)="step(2)">Next</button>
            </ion-col>
          </ion-row>
        </ion-slide>

        <!-- Slide 3 -->
        <ion-slide>
          <ion-row>
            <ion-col col-6>
              <ion-icon class="back-btn" name="arrow-back" item-left (click)="back(1)"></ion-icon>
            </ion-col>
            <ion-col col-12>
              <h3 class="title-1 bold">What time is your activity?</h3>
            </ion-col>
            <ion-item class="time-item">
              <ion-label>Time</ion-label>
              <ion-datetime #time displayFormat="hh:mm A" [(ngModel)]="data.Time"></ion-datetime>
            </ion-item>
          </ion-row>
          <ion-row class="next-back-wrapper">
            <ion-col col-12>
              <button ion-button color="primary" class="done-btn" round block (click)="step(3)">Next</button>
            </ion-col>
          </ion-row>
        </ion-slide>

        <!-- Slide 4 -->
        <ion-slide>
          <ion-row>
            <ion-col col-6>
              <ion-icon class="back-btn" name="arrow-back" item-left (click)="back(2)"></ion-icon>
            </ion-col>
            <ion-col col-12>
              <h3 class="title-1 bold">Who can join your activity?</h3>
            </ion-col>

            <ion-col col-12>
              <button ion-button round color="secondary" class="done-btn" (click)="dismiss()">SYNK COMMUNITY</button>
              <button ion-button round color="primary" class="done-btn" (click)="step(4)">CHOOSE FRIENDS</button>
            </ion-col>

          </ion-row>
        </ion-slide>

        <!-- Slide 4 -->
        <ion-slide>
          <div class="contact-wrapper">
            <ion-item-group *ngFor="let group of groupedContacts">
              <ion-item-divider light>{{group.letter}}</ion-item-divider>
              <ion-item *ngFor="let contact of group.contacts" [style.background-color]="contact.active ? '#464545' : ''"
                class="contact-item">
                <ion-avatar item-start>
                  <img [src]="contact.img">
                </ion-avatar>
                <div item-start>{{contact.name}}</div>
                <ion-checkbox item-end (ionChange)="checkContact($event,contact)"></ion-checkbox>
              </ion-item>
            </ion-item-group>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer text-center no-border transparent *ngIf="data.showDoneBtn">
  <ion-row>
    <ion-col col-12>
      <button ion-button color="primary" class="done-btn" round block (click)="dismiss()">Done</button>
    </ion-col>
  </ion-row>
</ion-footer>